body {
	background-image: url(https://img.freepik.com/free-vector/gradient-christmas-technology-background_23-2149758674.jpg?semt=ais_hybrid);
	background-size: cover;
}

.bg1 {
	background: rgba(0%, 0%, 0%, .7);
	padding: 5px;
	border: 3px black solid;
	border-radius: 20px;
	color: whitesmoke;
}

.logo {
	width: 80px;
}

.textbox {
	width: 400px;
	padding: auto;
}

.textbox2 {
	width: 400px;
	padding: auto;
	margin-left: 400px;
}

.textbox3 {
	width: 400px;
	padding: auto;
	margin-left: 400px;
}

.rbc {
	text-align: center;
}

.rbc1 {
	text-align: left;
}

.bg3 {
	margin-left: 400px;
}

.custom-select {
	width: 200px;
}

.boodi3 {
	width: 400px;
	height: 100px;
	text-align: center;
}

.navbar {
	color: whitesmoke;
}

.tmenu-menu {
	right: 0;
    left: inherit;
}

